<html lang='en'>

<%- include('./partial/head.ejs') %>

<body>
    <%- include('./partial/nav.ejs') %>
    <div class ='site-title'>
        <a href="/">
            <h1>ABOUT Blog</h1>
        </a>
        <p>Me</p>   
    </div>
   <div class="'blogs content">
    <h2>all blogs</h2>
   </div>
</body>

</html>