<nav class="'site-title">
    <div class='site-title'>
        <a href="/">
            <h1>Blog Ninja </h1>
        </a>
        <p>A net ninja</p>
    </div>
    <div>
        <ul>
            <a href="/blogs">Blogs</a>
            <a href="/about">about page</a>
            <a href="/create">create page</a>
        </ul>
    </div>


</nav>